# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environment
venv/
.env

# Django
db.sqlite3
*.log

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

# Static files collected for deployment
staticfiles/